/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f5f5f5;
}

.navbar-item strong {
  letter-spacing: 0.2px;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
